{% extends 'main.html.twig' %}

{% block section_two %}
<!-- Two -->
<section id="two">
    <div class="container">
        <h3>Getting Started</h3>
        <p>Imanee requires <strong>PHP >= 5.4</strong> and the <strong>Imagick</strong> extension.
            Installation is easily done with <a href="https://getcomposer.org/" target="_blank" title="Composer">Composer</a>:</p>

        <p><code>$ composer require imanee/imanee</code></p>

    </div>
</section>
{% endblock %}
