{% extends 'main.html.twig' %}

{% block section_two %}
<!-- Two -->
<section id="two">
    <div class="container">
        <h3>Getting Started</h3>
        <p>Imanee requires <strong>PHP >= 5.4</strong> and the <strong>Imagick</strong> extension.</p>

        <h4>Installing Imanee</h4>
        <p>Installation is easily done with <a href="https://getcomposer.org/" target="_blank" title="Composer">Composer</a>:</p>

        <p><code>$ composer require imanee/imanee</code></p>

        <h4>Installing the Imagick extension</h4>
        <p>On Ubuntu, you can install the extension simply with:

            <p><code>$ sudo apt-get install php5-imagick</code></p>

        <p><small>Don't forget to restart the web server so the changes take effect.</small></p>

    </div>
</section>
{% endblock %}
