<!-- Footer -->
<section id="footer">
    <div class="container">
        <ul class="copyright">
            <li>Brought to you by <a href="http://twitter.com/erikaheidi">@erikaheidi</a></li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>
