<nav id="nav">
    <ul>
        <li><a href="#about" class="active">About</a></li>
        <li><a href="#requirements">Requirements</a></li>
        <li><a href="#getting-started">Getting Started</a></li>
        <li><a href="#demos">Demos</a></li>
    </ul>
</nav>